<li class="list-group-item">
    <a href="/messages/{{ msg.id  }}" class="message-link" />
    <a href="/users/{{ msg.user_id }}">
        <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
    </a>
    <div class="message-area">
        <a href="/users/{{ msg.user_id }}">@{{ msg.user.username }}</a>
        <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ msg.text }}</p>
    </div>
    {% if g.user.id != msg.user_id %}
    <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-form">
        <button class="
                btn 
                btn-sm 
                {{'btn-primary' if msg in g.user.likes else 'btn-secondary'}}">
            <i class="fa fa-thumbs-up"></i>
        </button>
    </form>
    {% endif %}
</li>